body{
	width:100%;
	height:100%;
	margin:0;
	overflow-x:hidden;
	overflow-y:hidden;
	word-break: break-all;
}

.s{
	width:inherit;
	height:100%;
	position:absolute;
	/*transition: all 0.6s;*/
	overflow:hidden;
	box-shadow:0px 1px 1px black;
}

#content{
	overflow:hidden;
}

.yc{
  display:none;
}



.p{
	width:100%;
	height:100%;
	position:absolute;
	transition:all 0.5s;
}

.dh1yc{
	transition:0.5s all;
	opacity:0;
}
.dh2yc{
	transition:0.5s all;
	opacity:0;
	padding-top:1em;
}

.text_p{
	font-size:4vh;
	text-indent: 2em;
	padding-right: 1em;
	padding-left: 1em;
}
.text_p2{
	font-size:3.5vh;
	text-indent: 2em;
	padding-right: 1em;
	padding-left: 1em;
}
.text_ps{
	font-size:2.9vh;
	text-indent: 2em;
	padding-right: 1em;
	padding-left: 1em;
}
.text_ps2{
	font-size:2.7vh;
	text-indent: 2em;
	padding-right: 1em;
	padding-left: 1em;
}
.text_t{
	font-size:5vh;
	text-align:center;
	transition:0.5s all;
}
.text_t2{
	font-size:4.5vh;
	text-align:center;
}

.tra{
	transition:0.3s all;
}

.p3contentimg{
	/*第三页 图片*/
	width:30%;
	position:absolute;
	display:inline-block;
}

.p3contenttext{
	/*第三页 放置文字的地方*/
	margin-left: 3%;
	display:inline-block;
	width:60%;
}
.p3contenttext2{
	/*第三页 放置文字的地方*/
	margin-left: 34%;
	display:inline-block;
	width:60%;
}

.p3content{
	margin-left: 5%;
}


#page1{
	background-color:GhostWhite;
}
#page2{
	background-color:white;
}
#page3{
	background-color:GhostWhite;
}



